* { 
	margin: 0;
	padding: 0;
}

body {
	font: 85%/1.5 normal helvetica, arial, clean, sans-serif;
}

h1 {
	font-size: 2.2em;
	font-family: Lucida Grande;
	letter-spacing: -0.05em;
	color: #000;
}

h2,
h3,
h4 {
	margin: 1.5em 0 .5em 0;
	border-bottom: 1px solid #DDD;
	font-family: Lucida Grande;
	letter-spacing: -0.05em;
	color: #666;
}

p {
	margin: 0 0 .75em 0;
}

ul,
ol {
	margin: 0 0 1.5em 1.5em;
}

a:link,
a:visited {
	color: #4183C4;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	color: #94BFEA;
	text-decoration: underline;
}

em {
	color: #999;
	font-size: .9em;
}

img {
	border: 0;
}

#main {
	width: 650px;
	overflow: hidden;
	margin: 3em auto 2em;
	padding: 0 3em;
}

#content {
	float: left;
	width: 389px;
}

#sidebar {
	float: right;
	width: 230px;
	padding-top: 1.75em;
}

#appstore {
	text-align: center;
}

#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

ul#screenshots {
	position: relative;
	width: 389px;
	height: 814px;
	overflow: hidden;
	list-style: none;
	margin: 1.5em 0;
	background: #FFF url('../images/iphone.jpg') no-repeat;
}

#screenshots li {
	position: absolute;
	top: 120px;
	left: 36px;
	display: none;
}

#screenshots img {
	display: block;
}

ul#twitter_update_list {
	margin: 0;
	list-style: none;
	font-size: .9em;
}

#twitter_update_list li {
	padding: .5em 0;
}

#twitter_update_list a {
	color: #666;
}