<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>apiBase</key>
		<string></string>
	</dict>
	<key>beta</key>
	<dict>
		<key>apiBase</key>
		<string></string>
	</dict>
	<key>release</key>
	<dict>
		<key>apiBase</key>
		<string></string>
	</dict>
</dict>
</plist>
