<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>Notifications</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Profile</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Personal</string>
			<key>image</key>
			<string>Profile</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Organizations</string>
			<key>image</key>
			<string>Orgs</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Personal</string>
			<key>image</key>
			<string>Repositories</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Organizations</string>
			<key>image</key>
			<string>OrgRepos</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Watched</string>
			<key>image</key>
			<string>WatchedRepos</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Starred</string>
			<key>image</key>
			<string>StarredRepos</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Issues</string>
			<key>image</key>
			<string>Issues</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Gists</string>
			<key>image</key>
			<string>Gists</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Starred Gists</string>
			<key>image</key>
			<string>StarredGists</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>Search</string>
			<key>image</key>
			<string>Search</string>
		</dict>
		<dict>
			<key>title</key>
			<string>iOctocat Feedback</string>
			<key>image</key>
			<string>App</string>
		</dict>
	</array>
</array>
</plist>
