<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>unreadBadge</string>
			<key>Title</key>
			<string>Unread badge</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Code</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Theme</string>
			<key>Key</key>
			<string>theme</string>
			<key>DefaultValue</key>
			<string>github</string>
			<key>Titles</key>
			<array>
				<string>Arta</string>
				<string>Ascetic</string>
				<string>Dark</string>
				<string>Docco</string>
				<string>Far</string>
				<string>Foundation</string>
				<string>GitHub</string>
				<string>Google Code</string>
				<string>Idea</string>
				<string>IR Black</string>
				<string>Magula</string>
				<string>Mono Blue</string>
				<string>Monokai</string>
				<string>Monokai Sublime</string>
				<string>Obsidian</string>
				<string>Railscasts</string>
				<string>Rainbow</string>
				<string>Solarized Dark</string>
				<string>Solarized Light</string>
				<string>Sunburst</string>
				<string>Tomorrow Night Blue</string>
				<string>Tomorrow Night Bright</string>
				<string>Tomorrow Night 80s</string>
				<string>Tomorrow Night</string>
				<string>Tomorrow</string>
				<string>Visual Studio</string>
				<string>Xcode</string>
				<string>Zenburn</string>
			</array>
			<key>Values</key>
			<array>
				<string>arta</string>
				<string>ascetic</string>
				<string>dark</string>
				<string>docco</string>
				<string>far</string>
				<string>foundation</string>
				<string>github</string>
				<string>googlecode</string>
				<string>idea</string>
				<string>ir_black</string>
				<string>magula</string>
				<string>mono-blue</string>
				<string>monokai</string>
				<string>monokai_sublime</string>
				<string>obsidian</string>
				<string>railscasts</string>
				<string>rainbow</string>
				<string>solarized_dark</string>
				<string>solarized_light</string>
				<string>sunburst</string>
				<string>tomorrow-night-blue</string>
				<string>tomorrow-night-bright</string>
				<string>tomorrow-night-eighties</string>
				<string>tomorrow-night</string>
				<string>tomorrow</string>
				<string>vs</string>
				<string>xcode</string>
				<string>zenburn</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>lineNumbers</string>
			<key>Title</key>
			<string>Line numbers</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Avatar cache</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>clearAvatarCache</string>
			<key>Title</key>
			<string>Clear on next launch</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable avatar loading</string>
			<key>Key</key>
			<string>disableAvatarLoading</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Third Party Licenses</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>CocoaPods Acknowledgements</string>
			<key>File</key>
			<string>CocoaPodsLicenses</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Other Acknowledgements</string>
			<key>File</key>
			<string>OtherLicenses</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>${PRODUCT_NAME}</string>
</dict>
</plist>
